{% extends 'base.html.twig' %}

{% block title %}
    Modifier Article
{% endblock %}

{% block body %}
    <h1>Modifier l'Article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
